---

interface Props {
	name: string;
  price: number;
  col: number;
  row: number;
  spanText: string
}
const { name, price, col, row, spanText} = Astro.props;

const column = `sm:col-start-${col} md:col-start-auto`
const rowCss = `row-start-${row} md:row-start-auto`

---


<article class=`${column} ${rowCss} 
    lg:mx-10 rounded-lg 
    min-h-[200px]
    text-center
    transition-all duration-200 ease-in-out scale-90`>
  <div class="h-full w-full ">
    <div class="group grid w-full h-full justify-center rounded-lg border p-3 
    
    
    hover:bg-slate-50 
    hover:text-gray-900
     duration-200
      ease-in-out ">
        <h3 class="text-xl font-light w-full text-center content-center">{name} <span class="ml-1 text-lg">{spanText}</span></h3>
        <div class="flex justify-center">
          <slot >
        </div>
        <h2 class="content-cente group-hover:text-gray-800 sm:text-2xl text-xl font-bold">
          $ {price.toLocaleString('de-DE', { minimumFractionDigits: 0 })}
        </h2>
      </div>
    </div>
  </div>
</article>